
:root {
    --ruler: 16px;
    --color-red: #ae1100;
    --color-bg: #ebecf0;
    --color-shadow: #babecc;
    --color-white: #fff;
}

body,
html {
    background-color: var(--color-bg);
}

body,
p,
input,
select,
textarea,
button {
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.2px;
    font-size: var(--ruler);
}

div,
p {
    color: var(--color-shadow);
    text-shadow: 1px 1px 1px var(--color-white);
}

form {
    padding: var(--ruler);
    width: calc(var(--ruler) * 20);
    margin: 0 auto;
}

.segment {
    padding: calc(var(--ruler) * 2) 0;
    text-align: center;
}

button,
input {
    border: 0;
    outline: 0;
    font-size: var(--ruler);
    border-radius: calc(var(--ruler) * 20);
    padding: var(--ruler);
    background-color: var(--color-bg);
    text-shadow: 1px 1px 0 var(--color-white);
}

label {
    display: block;
    margin-bottom: calc(var(--ruler) * 1.5);
    width: 100%;
}

input {
    margin-right: calc(var(--ruler) / 2);
    box-shadow: inset 2px 2px 5px var(--color-shadow), inset -5px -5px 10px var(--color-white);
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}

input:focus {
    box-shadow: inset 1px 1px 2px var(--color-shadow), inset -1px -1px 2px var(--color-white);
}

button {
    color: #61677c;
    font-weight: bold;
    box-shadow: -5px -5px 20px var(--color-white), 5px 5px 20px var(--color-shadow);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    box-shadow: -2px -2px 5px var(--color-white), 2px 2px 5px var(--color-shadow);
}

button:active {
    box-shadow: inset 1px 1px 2px var(--color-shadow), inset -1px -1px 2px var(--color-white);
}

.icon {
    margin-right: calc(var(--ruler) / 2);
}

.unit {
    border-radius: calc(var(--ruler) / 2);
    line-height: 0;
    width: calc(var(--ruler) * 3);
    height: calc(var(--ruler) * 3);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 calc(var(--ruler) / 2);
    font-size: calc(var(--ruler) * 1.2);
}

.unit .icon {
    margin-right: 0;
}

.red {
    display: block;
    width: 100%;
    color: var(--color-red);
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.input-group label {
    margin: 0;
    flex: 1;
}